{% extends 'default_base.html.twig' %}

{# Page de l'événement #}

{% block title %}
	Chattons !
	{{ event.name }}
{% endblock %}

{% block body %}
	{# On affiche juste la side bar et la liste des participants #}
	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}

	<div class="row">
		<div class="col-md-3">
			{{ include('partials/_sidebar.html.twig',{
				"active_ig" : "",
				"active_dis" : "active",
				"active_ar" : ""
			})}}

			{{ include('partials/_partie_sub.html.twig') }}
		</div>
		<div class="col-md-9">
			{{ include('partials/_chat.html.twig') }}
		</div>
	</div>
{% endblock %}

