{% extends 'default_base.html.twig' %}

{# Page de l'événement #}

{% block title %}
	Page de L'événement
	{{ event.name }}
{% endblock %}

{% block body %}
	{# On affiche juste la side bar et la liste des participants #}
	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}

	<div class="row">
		<div class="col">
			{{ include('partials/_sidebar.html.twig') }}
		</div>
		<div class="col-7">
			{{ include('partials/_chat.html.twig') }}
		</div>
		<div class="col">
			{{ include('partials/_partie_sub.html.twig') }}
		</div>

	</div>
{% endblock %}

