{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {# <div>
        <a href="{{path("app_register")}}">Créer un compte</a>
    </div> #}
    {# <form method="post"> #}
        {# {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
            Vous étes connecté en tant que{{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Deconnection</a>
            </div>
        {% endif %} #}

        {# <h1 class="h3 mb-3 font-weight-normal">Connecter Vous</h1>
        <label for="inputUsername">Identifiant</label>
        <input type="text" value="{{ last_username }}" name="username" >
        <br>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" >

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me">
                Se souvenir de moi
            </label>
        </div> #}


        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html


        #}

        {# <button class="btn btn-lg btn-primary" type="submit">
            Connection
        </button>
    </form> #}

   
	<span id="root">
		<section
			class="section-all">

			<!-- 1-Role Main -->
			<main class="main" role="main">
				<div class="wrapper">
					<article class="article">
						<div class="content">
							<div class="login-box">
								<div class="header">
									<img class="logo" src="{{asset("images/crewevent.png")}}" alt="crewevent">
								</div>
								<!-- Header end -->
								<div class="form-wrap">
									<form class="form" method="post">
										{% if error %}
													<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
												{% endif %}

												{% if app.user %}
													<div class="mb-3">
													Vous étes connecté en tant que{{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Deconnection</a>
													</div>
												{% endif %}

										<div class="input-box">
                                            <input type="text" value="{{ last_username }}" name="username" id="username" aria-describedby="" placeholder="identifiant" aria-required="true" maxlength="30" autocapitalize="off" autocorrect="off" required>

										</div>

										<div class="input-box">
											<input type="password" name="password" id="password" placeholder="mot de passe" aria-describedby="" maxlength="30" aria-required="true" autocapitalize="off" autocorrect="off" required>

										</div>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                        <div class="form-check">
											<label class="form-check-label d-flex align-items-center" for="flexCheckDefault">


                                                <input class="form-check-input p-2" type="checkbox" name="_remember_me" value="" id="flexCheckDefault require">
 
												<span class="p-2">Se souvenir de moi</span>

                                            </label>
                                        </div>

                                        {# <div class="checkbox mb-3">
                                            <label>
                                                <input type="checkbox" name="_remember_me">
                                                Se souvenir de moi
                                            </label>
                                        </div> #}



										<span class="button-box">
                                            <button class="btn" type="submit" name="submit">Connecter</button>

										</span>

										<a class="forgot" href="">Mot de passe oublié?</a>
									</form>
								</div>
								<!-- Form-wrap end -->
							</div>
							<!-- Login-box end -->

							<div class="login-box">
								<p class="text">Pas encore de compte ?<a href="{{path("app_register")}}">Inscrivez vous</a>
								</p>
							</div>
							<!-- Signup-box end -->

							
						</div>
						<!-- Content end -->
					</article>
				</div>
				<!-- Wrapper end -->
			</main>

			<!-- 2-Role Footer -->
			<footer class="footer" role="contentinfo">
				<div class="footer-container">

					<nav class="footer-nav" role="navigation">
						<ul>
							<li>
								<a href="">A propos</a>
							</li>

							<li>
								<a href="">Support</a>
							</li>

							<li>
								<a href="">Discord</a>
							</li>

							<li>

								<a href="">Vos données personnelles</a>
							</li>

							<li>
								<a href="">Termes</a>
							</li>
							
							<li>
								<span class="language">Langues
									<select name="language" class="select" onchange="la(this.value)">
										<option value="#">Anglais</option>
										<option value="#">Français</option>

									</select>
								</span>
							</li>
						</ul>
					</nav>

					<span class="footer-logo">&copy; 2022 crewevent</span>
				</div>
				<!-- Footer container end -->
			</footer>

		</section>
	</span>
	<!-- Root -->

	<!-- Select Link -->
	<script type="text/javascript">
		function la(src) {
            window.location = src;
        }
	</script>








{% endblock %}
