{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {# <div>
        <a href="{{path("app_register")}}">Créer un compte</a>
    </div> #}
    {# <form method="post"> #}
        {# {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
            Vous étes connecté en tant que{{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Deconnection</a>
            </div>
        {% endif %} #}

        {# <h1 class="h3 mb-3 font-weight-normal">Connecter Vous</h1>
        <label for="inputUsername">Identifiant</label>
        <input type="text" value="{{ last_username }}" name="username" >
        <br>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" >

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me">
                Se souvenir de moi
            </label>
        </div> #}


        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html


        #}

        {# <button class="btn btn-lg btn-primary" type="submit">
            Connection
        </button>
    </form> #}

    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="{{ asset("images/event2.png")}}" class="img-fluid" alt="Sample image" width="600">


                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="post">

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous étes connecté en tant que{{ app.user.userIdentifier }},
                                <a href="{{ path('app_logout') }}">Deconnection</a>
                            </div>
                        {% endif %}

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form3Example3" class="form-control form-control-lg" value="{{ last_username }}" name="username" placeholder="Entrer votre identifiant"/>
                            <label class="form-label" for="form3Example3">Identifiant</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="password" name="password" id="form3Example4" class="form-control form-control-lg" placeholder="Entrer votre mot de passe"/>

                            <label class="form-label" for="form3Example4">Mot de passe</label>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                        <div
                            class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" name="_remember_me" id="form2Example3"/>
                                <label class="form-check-label" for="form2Example3">
                                    Se souvenir de moi
                                </label>
                            </div>
                            <a href="#!" class="text-body">Mot de passe oublié?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Connection</button>

                            <p class="small fw-bold mt-2 pt-1 mb-0">Vous n'avez pas de compte?
                                <a href="{{path("app_register")}}" class="link-danger">Inscrivez vous</a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div
            class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <!-- Copyright -->
            <div class="text-white mb-3 mb-md-0">
                Copyright © 2022. All rights reserved.
            </div>
            <!-- Copyright -->

            <!-- Right -->
            <div>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#!" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#!" class="text-white">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <!-- Right -->
        </div>
    </section>


{% endblock %}
