<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Modifier votre mot de passe</p>
                                {{ form_errors(form) }}
                                <div class="mx-1 mx-md-4">
                                    {{form_start(form)}}
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                {{ form_label(form.currentPassword) }}
                                                {{ form_widget(form.currentPassword, { attr: { class: 'form-control'} }) }}
                                                {% if not form.currentPassword.vars.valid %}
                                                    <div class="alert alert-danger p-1 mt-2" role="alert">
                                                        {% for errors in form.currentPassword.vars.errors %}
                                                            {{ (errors.message) }}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div class="form-outline flex-fill mb-0">
                                                {{ form_label(form.newPassword.first) }}
                                                {{ form_widget(form.newPassword.first, { attr: { class: 'form-control'} }) }}
                                                {% if not form.newPassword.first.vars.valid %}
                                                    <div class="alert alert-danger p-1 mt-2" role="alert">
                                                        {% for errors in form.newPassword.first.vars.errors %}
                                                            {{ (errors.message) }}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form_label(form.newPassword.second) }}
                                            {{ form_widget(form.newPassword.second, { attr: { class: 'form-control'} }) }}
                                            {% if not form.newPassword.second.vars.valid %}
                                                <div class="alert alert-danger p-1 mt-2" role="alert">
                                                    {% for errors in form.newPassword.second.vars.errors %}
                                                        {{ (errors.message) }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>



                                    <div class="d-flex justify-content-center mb-3 mb-lg-4 justify-content-around">
                                        <a href="{{ path('app_profile') }}" type="button" class="btn btn-danger btn-sm ">Annulé</a>
                                        <button type="submit" class="btn btn-primary btn-sm ">Enregistré</button>
                                    </div>
                                    {{form_end(form)}}
                                </div>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://t3.ftcdn.net/jpg/04/09/15/06/360_F_409150638_SxGTAHBfmZvIokfC3MoeG4cXOEiyt0WC.webp">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
