{# <span id="root">
		<section
			class="section-all">

			<!-- 1-Role Main -->
			<main class="main" role="main">
				<div class="wrapper">
					<article class="article">
						<div class="content">
							<div class="login-box">
								<div class="header">
									<img class="logo" src="{{asset("images/crewevent.png")}}" alt="crewevent">
								</div>
								<!-- Header end -->
								<div
									class="form-wrap">
									<!-- debut du formulaire -->
									{{ form_start(form) }}

									<!-- mot de passe actuel -->
									<div class="input-box">
										{{ form_row(form.currentPassword)}}

									</div>

									<!-- nouveau mot de passe -->
									<div class="input-box">
										{{ form_row(form.newPassword)}}

									</div>

									<!--  -->
									<span class="button-box">
										<button class="btn" type="submit" name="submit">Enregistrer</button>

									</span>
									<!-- fin du formulaire -->

									{{ form_end(form) }}

								</div>

							</div>

						</div>

					</article>
				</div>

			</main>

			<!-- Footer -->
			<footer class="footer" role="contentinfo">
				<div class="footer-container">

					<nav class="footer-nav" role="navigation">
						<ul>
							<li>
								<a href="">A propos</a>
							</li>
							<li>
								<a href="">Support</a>
							</li>
							<li>
								<a href="">Discord</a>
							</li>
							<li>

								<a href="">Vos données personnelles</a>
							</li>
							<li>
								<a href="">Termes</a>
							</li>

							<li>
								<span class="language">Langues
									<select name="language" class="select" onchange="la(this.value)">
										<option value="#">Anglais</option>
										<option value="#">Français</option>
									</select>
								</span>
							</li>
						</ul>
					</nav>

					<span class="footer-logo">&copy; 2022 crewevent</span>
				</div>
				<!-- Footer container end -->
			</footer>

		</section>
	</span>
	<!-- Root -->

	<!-- Select Link -->
	<script type="text/javascript">
		function la(src) {
	window.location = src;
	}
	</script> #}



<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Modifier votre mot de passe</p>

                <div class="mx-1 mx-md-4">
                    {{form_start(form)}}
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                            <label class="form-label text-black">Mot de passe</label>
                            {# <input type="text" id="form3Example1c" class="form-control" /> #}
                            {# {{form_widget(form.nom, { attr: { class: 'form-control', id: 'form3Example1c' } })}} #}
                            {{form_row(form.currentPassword,{class: 'form-group'})}}

                            
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                            {# <input type="text" id="form3Example1c" class="form-control" /> #}
                            <label class="form-label text-black">Champs obligatoire</label>
                            {# {{form_widget(form.prenom, { attr: { class: 'form-control', id: 'form3Example1c' } })}} #}
                            
                             {{form_row(form.newPassword)}}
                            </div>
                        </div>

                       <!-- <div class="d-flex flex-row align-items-center mb-4">
                             <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                            {# <input type="text" id="form3Example3c" class="form-control" /> #}
                            <label class="form-label">Identifiant</label>
                            {# {{form_widget(form.username, { attr: { class: 'form-control', id: 'form3Example1c' } })}} #}
                            
                            </div>
                        </div>-->

                      <!--  <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                            {# <input type="text" id="form3Example3c" class="form-control" /> #}
                             <label class="form-label" for="form3Example3c">Email</label>
                            {# {{form_widget(form.email, { attr: { class: 'form-control', id: 'form3Example1c' } })}} #}
                           
                            </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                            {# <input type="password" id="form3Example4c" class="form-control" /> #}
                                <label class="form-label" for="form3Example4c">Mot de passe</label>
                                {# {{form_widget(form.plainPassword.first, { attr: { class: 'form-control', id: 'form3Example1c' } })}} #}
                                
                            </div>
                        </div>
                        
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                            {# <input type="password" id="form3Example4cd" class="form-control" /> #}
                            <label class="form-label" for="form3Example4cd">Retaper le mot de passe</label>
                            {# {{form_widget(form.plainPassword.second, { attr: { class: 'form-control', id: 'form3Example1c' } })}} #}
                            
                            </div>
                        </div>

                        <div class="form-check d-flex justify-content-center mb-3">
                            {# <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" /> #}
                           
                            {# {{form_widget(form.agreeTerms, { attr: { class: 'form-check-input me-2', id: 'form3Example1c' } })}} #}
                             <label class="form-check-label" for="form2Example3">
                                J'accépte les <a href="#!">conditions d'utilisations</a>
                            </label>


                            
                        </div>-->
                        <div class="form-check d-flex justify-content-center ">
                            <p><a href="{{path('app_profile')}}">Annuler    </a></p></div>
                        <div class="d-flex justify-content-center mb-3 mb-lg-4 ">
                            <button type="submit" class="btn btn-primary btn-lg w-75">Enregistrer</button>
                        </div>
                    {{form_end(form)}}
                </div>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://t3.ftcdn.net/jpg/04/09/15/06/360_F_409150638_SxGTAHBfmZvIokfC3MoeG4cXOEiyt0WC.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>