<div class="mb-2">
    <h4 class="text-center">Mes événements</h4>
    <div class="list-group">
        {% for event in events %}
            <a href="{{ path('app_show_event',{name : event.name}) }}" class="list-group-item list-group-item-action d-flex justify-content-start align-items-center">
                <img src="{{ event.image ? asset('images/'~event.image): asset('images/event.png') }}" alt="" class="rounded-circle me-2" width="32" height="32">
                <span>{{ event.name }}</span>
            </a>
        {% endfor %}
    </div>
</div>
<div>
    <h4 class="text-center">Suggestions</h4>
    <div class="list-group">
        {% for suggestion in suggestions %}
            <a href="{{ path('app_show_event',{name : suggestion.name}) }}" class="list-group-item list-group-item-action d-flex justify-content-start align-items-center">
                <img src="{{ suggestion.image ? asset('images/'~suggestion.image): asset('images/event.png') }}" alt="" class="rounded-circle me-2" width="32" height="32">
                <span>{{ suggestion.name }}</span>
            </a>
        {% endfor %}
    </div>
</div>