{#
<!-- Navbar -->
<nav
    class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div
        class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div
            class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="{{path("app_index")}}">
                <img src="{{asset("images/crewevent.png")}}" width="110" alt="Crewevent logo" loading="lazy"/>
            </a>

        <form class="d-flex input-group w-auto" action="{{path('app_recherche')}}" method="get" role="form">
            <input
                name="recherche"
                class="form-control rounded"
                placeholder="Search"
                aria-label="Search"
                aria-describedby="search-addon"
            />
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
        </form>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">TANDENCES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">RECOMMENDATIONS</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center ">
            
            <!-- Icon messagerie -->
            <a class="text-reset me-3 " href="{{path('private_message')}}" >
                <i class="fas fa-comment fa-2x"></i>
                {# <span class="badge rounded-pill badge-notification bg-danger">1</span> #}
            {#
            </a>

            <!-- Notifications -->

                <a class="text-reset me-3 " href="#">
                    <i class="fas fa-bell fa-2x"></i>
                    {# <span class="badge rounded-pill badge-notification bg-danger">1</span> #}
                    {#
                </a>

                 <a class="text-reset me-3 " href="{{path('app_contacts')}}"  >
                    <i class="fas fa-user-friends fa-2x"></i>
                    {# <span class="badge rounded-pill badge-notification bg-danger">1</span> #}
                    {#
                </a>
               
        </div>
            <!-- Avatar -->
            <div class="dropdown">
                <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <img src="{{app.user.photoProfile ? vich_uploader_asset(app.user) : asset('images/pas_de_photo.png')}}" class="rounded-circle" width="40" alt="Black and White Portrait of a Man" loading="lazy"/>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                    <li>
                        <a class="dropdown-item" href="{{path("app_profile")}}">My profile</a>
                    </li>
                    {# <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li> #}
                    {#
                    <li>
                        <a class="dropdown-item" href="{{path("app_logout")}}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->


{# ---------------------------------------------------------------------------------------------------------------------------------------- #}



<!-- Navbar -->
<nav class="navbar navbar-expand-lg  navbar-light bg-light">
	<div
		class="container-fluid justify-content-between">
		<!-- Left elements -->
		<div
			class="d-flex my-2 my-sm-0">
			<!-- Toggler -->
			<button data-mdb-toggle="sidenav" data-mdb-target="#sidenav-1" class="btn shadow-0 p-0 ms-2 me-3 d-block d-xl-none" aria-controls="#sidenav-1" aria-haspopup="true">
				<i class="fas fa-bars fa-lg"></i>
			</button>
			<!-- logo Brand -->
			<a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="{{path("app_index")}}">
				<img src="{{asset('images/crewevent-b.png')}}" height="30" alt="" loading="lazy" style="margin-top: 2px"/>
			</a>
			<!-- End logo Brand -->

			<!-- Search form -->
			<form class="input-group w-auto my-auto d-none d-sm-flex" action="{{path('app_recherche')}}" method="get" role="form">
				<input autocomplete="off" type="search" class="form-control rounded" placeholder="Recherche" style="min-width: 125px" name="recherche"/>
				<button type="submit" class="btn btn-primary">
		            <i class="fas fa-search"></i>
	            </button>
			</form>
		</div>

		<!-- End Search form -->

		<!-- Begin Center elements -->

		<!--Home elements -->
			<ul class="navbar-nav flex-row d-none d-md-flex"> <li class="nav-item me-3 me-lg-1 active">
				<a class="nav-link" href="{{path("app_index")}}">
					<span>
						<i class="fas fa-home fa-lg"></i>
					</span>
					<span class="badge rounded-pill badge-notification bg-danger">1</span>
				</a>
			</li>
			<!-- End Home elements -->

			<!--Event element -->
			<li class="nav-item me-3 me-lg-1">
				<a class="nav-link" href="{{path('app_event_creation')}}">
					<span>
						<i class="fas fa-plus-circle fa-lg"></i>
					</span>
				</a>
			</li>
			<!--End Event element -->


			<!--Messagerie public elements -->
			<li class="nav-item me-3 me-lg-1">
				<a class="nav-link" href="{{path('private_message')}}">
					<span>
						<i class="fas fa-message fa-lg"></i>
					</span>
				</a>
			</li>
			<!--End Messagerie public elements -->

			<!--Friend Notification element -->
			<li class="nav-item me-3 me-lg-1">
				<a class="nav-link" href="{{path('app_contacts')}}">
					<span>
						<i class="fas fa-users fa-lg"></i>
					</span>
					<span class="badge rounded-pill badge-notification bg-danger">2</span>
				</a>
			</li>
			<!--End Friend Notification element -->


			<!--Notification element -->

			<li class="nav-item dropdown me-3 me-lg-1">
				<a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-bell fa-lg"></i>
					<span class="badge rounded-pill badge-notification bg-danger">12</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
					<li>
						<a class="dropdown-item" href="#">Some news</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Another news</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Something else here</a>
					</li>
				</ul>
			</li>
			<!-- End Notification element -->


		</ul>
		<!-- End Center elements -->


		<!-- Begin Right elements -->

		<ul
			class="navbar-nav flex-row">

			<!--messagerie privé element -->

			<li class="nav-item dropdown me-3 me-lg-1">
				<a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
					<i class="fas fa-comments fa-lg"></i>

					<span class="badge rounded-pill badge-notification bg-danger">6</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
					<li>
						<a class="dropdown-item" href="#">Some news</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Another news</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Something else here</a>
					</li>
				</ul>
			</li>
			<!--End messagerie privé element -->


			<!--Profil element -->
			{# <li class="nav-item me-3 me-lg-1">
				<a{{app.user.username}}</strong
					class="nav-link d-sm-flex align-items-sm-center" href="#" <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                     <img src="{{app.user.photoProfile ? vich_uploader_asset(app.user) : asset('images/pas_de_photo.png')}}" class="rounded-circle" height="22" alt="profile photo" loading="lazy" /> 
                     <strong class="d-none d-sm-block ms-1">><!--show username in strong element -->
				</a>
				<!--Profil dropdown menu -->
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
					<li>
						<a class="dropdown-item" href="{{path("app_profile")}}">Profil</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">Paramètres</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{path("app_logout")}}">Déconnexion</a>
					</li>
					<!--End Profil dropdown menu -->

					<!--End Profil element -->


				</ul>
				<!--  End Right elements -->
			</li> #}


            <li class="nav-item dropdown me-3 me-lg-1">
                <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                  <img src="{{app.user.photoProfile ? vich_uploader_asset(app.user) : asset('images/pas_de_photo.png')}}" class="rounded-circle" height="22" alt="profile photo" loading="lazy" /> 
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="{{path('app_profile')}}">profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{path('app_logout')}}">Deconnexion</a>
                    </li>
                   
                </ul>
            </li>


		</div>
	</nav>
	<!-- End Navbar -->
