<div class="offcanvas-xxl offcanvas-end" tabindex="-1" id="offcanvasExample2" aria-labelledby="offcanvasExampleLabel2">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#offcanvasExample2" aria-controls="offcanvasExample2"></button>

	</div>

	<div class="offcanvas-body d-flex flex-column">
		<ul class="nav nav-pills flex-column mb-auto">

			<li class="nav-item">
				{% if (app.user.id == event.user.id) %}
					<a class="nav-link link-white active" >
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill me-2">
							<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
						</svg>
						<strong class="">Participants</strong>
					</a>
				{% else %}
					<a class="nav-link link-white active" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill me-2">
							<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
						</svg>
						<strong class="">Participants</strong>
					</a>
				{% endif %}
				<div class="collapse mx-2" id="collapseExample">
					<!--Liste des participants -->
					<div class="list-group my-2">
						{% if app.user.id != event.user.id and isParticipant %}
							<a href=""
							   class="list-group-item list-group-item-danger"
							   data-mdb-toggle="modal" data-mdb-target="#quitModal">
								Quitter
							</a>

						{% elseif app.user.id != event.user.id and not isParticipant %}

							<a href="{{path("app_add_participant",{name : event.name})}}"
							   class="list-group-item list-group-item-success">
								Participer
							</a>

						{% endif %}

						<a href="{{ path('event_share',{name:event.name}) }}"
						   class="list-group-item list-group-item-primary">
							Partager
						</a>
					</div>
					{{ include('partials/_quit_event_modal.html.twig') }}
				</div>
			</li>
		</ul>
		<div class="list-group">
			{% for participant in participants %}
				{% if participant.participantUsername == app.user.username %}
					<a href="{{path("app_profile")}}" class="list-group-item list-group-item-action">
						{{participant.participantUsername}}
						{% if event.user.id == participant.userId %}
							<span class="badge text-bg-success">Admin</span>
						{% endif %}
					</a>
				{% else %}
					<a href="{{path("app_show_profile", {username : participant.participantUsername })}}" class="list-group-item list-group-item-action">
						{{participant.participantUsername}}
						{% if event.user.id == participant.userId %}
							<span class="badge text-bg-success">Admin</span>
						{% endif %}
					</a>
				{% endif %}
			{% endfor %}

		</div>



	</div>
</div>
