{# 
Side bar page événement
 #}
<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 280px;">

    <!--
    Si l'utlisatuer n'a pas encore participé à la liste des événements on lui affiche le bouton participer
    -->
        <!--Nom de l'événement-->
    <a href="#" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">{{event.name}}</span>
    </a>

    <!--Bars de navigations-->

    <div class="list-group list-group-flush border-bottom scrollarea">


      <!--Partie informations générales-->
      <a href="{{path("app_show_event",{name : event.name})}}" class="list-group-item list-group-item-action py-3 lh-tight {{active_ig}}">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Informations générales</strong>
        </div>
      </a>


     <!--Activitées récentes-->
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight {{active_ar}}" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Activitées récentes</strong>
        </div>
      </a>
  
      

      <!--Partie discussions générales-->
      <a href="{{path("app_event_chat", {name : event.name})}}" class="list-group-item list-group-item-action py-3 lh-tight {{active_dis}}">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Discussions</strong>
        </div>
      </a>
     

     
      
      {# <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-muted">Mon</small>
        </div>
        <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
      </a> #}
    </div>
</div>