<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<div
	class="main-content">

	<!-- Header -->
	<div
		class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://raw.githubusercontent.com/creativetimofficial/argon-dashboard/gh-pages/assets-old/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
		<!-- Mask -->
		<span class="mask bg-gradient-default opacity-8"></span>
		<!-- Header container -->
		<div class="container-fluid d-flex align-items-center"></div>
	</div>
	<!-- Page content -->
	<div class="container-fluid mt--7">
		<div class="row">
			<div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
				<div class="card card-profile shadow">
					<div class="row justify-content-center">
							<div class="col-lg-3 order-lg-2">
								<div class="card-profile-image">

									<img src="https://demos.creative-tim.com/argon-dashboard/assets-old/img/theme/team-4.jpg" class="rounded-circle" width="80">
                                </div>    
							</div>
							<div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
								<div class="d-flex justify-content-between"></div>
							</div>
							<div class="d-flex justify-content-center">
								<input type="submit" class="btn btn-sm btn-info ml-4 mt-4">
							</div>
						
						<div class="card-body pt-0 pt-md-4">
							<div class="row">
								<div class="col">
									<div class="card-profile-stats d-flex justify-content-center mt-10">
										<div>
											<span class="heading">22</span>
											<span class="description">Friends</span>
										</div>
										<div>
											<span class="heading">10</span>
											<span class="description">Photos</span>
										</div>
										<div>
											<span class="heading">89</span>
											<span class="description">Comments</span>
										</div>
									</div>
								</div>
							</div>
							<div class="text-center">
								<h3>
									{{app.user.nom}}<span class="font-weight-light">, 27</span>
								</h3>
								<div class="h5 font-weight-300">
									<i class="ni location_pin mr-2"></i>Bucharest, Romania
								</div>
								<div class="h5 mt-4">
									<i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
								</div>
								<div>
									<i class="ni education_hat mr-2"></i>University of Computer Science
								</div>
								<hr class="my-4">
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-8 order-xl-1">
					<div class="card bg-secondary shadow">
						<div class="card-header bg-white border-0">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0">Mon Profil</h3>
								</div>
								<div class="col-4 text-right">
									<a href="#!" class="btn btn-sm btn-info">Paramètres</a>
									<a href="#!" class="btn btn-sm btn-secondary">Modifier</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<form>
								<h6 class="heading-small text-muted mb-4">Informations Personnels</h6>
								<div class="pl-lg-4">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group focused">
												<label class="form-control-label" for="input-username">Identifiant :</label>
												<input type="view" id="input-username" class="form-control form-control-alternative" placeholder="" disabled value={{app.user.username}}>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label" for="input-email">Address mail :
												</label>
												<input type="email" id="input-email" class="form-control form-control-alternative" placeholder="exemple@emple.com" disabled value={{app.user.email}}>

											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group focused">
												<label class="form-control-label" for="input-first-name">Nom</label>
												<input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="" disabled value={{app.user.nom}}>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group focused">
												<label class="form-control-label" for="input-last-name">Prenom</label>
												<input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="" disabled value="{{app.user.prenom}}">
											</div>
										</div>
									</div>
								</div>
								<hr
								class="my-4">
								<!-- Address -->
								<h6 class="heading-small text-muted mb-4">Contact</h6>
								<div class="pl-lg-4">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group focused">
												<label class="form-control-label" for="input-address">Address</label>
												<input id="input-address" class="form-control form-control-alternative" placeholder="" disabled value="" type="text">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4">
											<div class="form-group focused">
												<label class="form-control-label" for="input-city">Ville</label>
												<input type="text" id="input-city" class="form-control form-control-alternative" placeholder="" disabled value={{app.user.city}}>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group focused">
												<label class="form-control-label" for="input-country">Pays</label>
												<input type="text" id="input-country" class="form-control form-control-alternative" placeholder="" disabled value={{app.user.country}}>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label" for="input-country">Sexe</label>
												<input type="text" id="input-postal-code" class="form-control form-control-alternative" placeholder="" disabled value={{app.user.gender}}>
											</div>
										</div>
									</div>
								</div>
								<hr class="my-4">
							<!-- Description -->
								{#<h6 class="heading-small text-muted mb-4">Description</h6>
																							                <div class="pl-lg-4">
																							                  <div class="form-group focused">
																							                    <label>A Propos de moi</label>
																							                    <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ..."></textarea>
																							                  </div> #}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="footer">
	<div class="row align-items-center justify-content-xl-between">
		<div
			class="col-xl-6 m-auto text-center"><!--<div class="copyright">
											          <p>Made with <a href="https://www.creative-tim.com/product/argon-dashboard" target="_blank">Argon Dashboard</a> by Creative Tim</p>
											        </div> -->
		</div>
	</div>
</footer>