{# <!-- 
Page de changement du mot de passe
route: /profile/edit_password
route_name: app_change_password
--> #}

{% extends 'base.html.twig' %}

{% block title %}Changement du password
{% endblock %}

{% block body %}

{% if app.user %}

	<span id="root">
		<section
			class="section-all">

			<!-- 1-Role Main -->
			<main class="main" role="main">
				<div class="wrapper">
					<article class="article">
						<div class="content">
							<div class="login-box">
								<div class="header">
									<img class="logo" src="{{asset("images/crewevent.png")}}" alt="crewevent">
								</div>
								<!-- Header end -->
								<div
									class="form-wrap">
									<!-- debut du formulaire -->
									{{ form_start(form) }}

									<!-- mot de passe actuel -->
									<div class="input-box">
										{{ form_row(form.currentPassword)}}

									</div>

									<!-- nouveau mot de passe -->
									<div class="input-box">
										{{ form_row(form.newPassword)}}

									</div>

									<!--  -->
									<span class="button-box">
										<button class="btn" type="submit" name="submit">Enregistrer</button>

									</span>
									<!-- fin du formulaire -->

									{{ form_end(form) }}

								</div>

							</div>

						</div>

					</article>
				</div>

			</main>

			<!-- Footer -->
			<footer class="footer" role="contentinfo">
				<div class="footer-container">

					<nav class="footer-nav" role="navigation">
						<ul>
							<li>
								<a href="">A propos</a>
							</li>
							<li>
								<a href="">Support</a>
							</li>
							<li>
								<a href="">Discord</a>
							</li>
							<li>

								<a href="">Vos données personnelles</a>
							</li>
							<li>
								<a href="">Termes</a>
							</li>

							<li>
								<span class="language">Langues
									<select name="language" class="select" onchange="la(this.value)">
										<option value="#">Anglais</option>
										<option value="#">Français</option>
									</select>
								</span>
							</li>
						</ul>
					</nav>

					<span class="footer-logo">&copy; 2022 crewevent</span>
				</div>
				<!-- Footer container end -->
			</footer>

		</section>
	</span>
	<!-- Root -->

	<!-- Select Link -->
	<script type="text/javascript">
		function la(src) {
	window.location = src;
	}
	</script>

{% endif %}
	


{% endblock %}

