{% extends 'base.html.twig' %}

{% block title %}Change password
{% endblock %}

{% block body %}

	{# {{ form_start(registrationForm) }}
	        {{form_row(registrationForm.prenom)}}
	        {{form_row(registrationForm.nom)}}
	        {{form_row(registrationForm.email)}}
	        {{ form_row(registrationForm.username) }}
	        {{ form_row(registrationForm.plainPassword)}}
	
	        {{ form_row(registrationForm.agreeTerms, {label: "Veuillez accépter les conditions d'utilisation" }) }}
	
	        <button type="submit" class="btn">Register</button>
	    {{ form_end(registrationForm) }} #}
	<span id="root">
		<section
			class="section-all">

			<!-- 1-Role Main -->
			<main class="main" role="main">
				<div class="wrapper">
					<article class="article">
						<div class="content">
							<div class="login-box">
								<div class="header">
									<img class="logo" src="{{asset("images/crewevent.png")}}" alt="crewevent">
								</div>
								<!-- Header end -->
								<div class="form-wrap">

									{{ form_start(form) }}

									
									<div class="input-box">
										{{ form_row(form.currentPassword)}}

									</div>

                                    <div class="input-box">
										{{ form_row(form.newPassword)}}

									</div>
									<span class="button-box">
										<button class="btn" type="submit" name="submit">Enregistrer</button>

									</span>

									{{ form_end(form) }}

								</div>
								<!-- Form-wrap end -->
							</div>
							<!-- Login-box end -->
						</div>
						<!-- Content end -->
					</article>
				</div>
				<!-- Wrapper end -->
			</main>

			<!-- 2-Role Footer -->
			<footer class="footer" role="contentinfo">
				<div class="footer-container">

					<nav class="footer-nav" role="navigation">
						<ul>
							<li>
								<a href="">A propos</a>
							</li>
							<li>
								<a href="">Support</a>
							</li>
							<li>
								<a href="">Discord</a>
							</li>
							<li>

								<a href="">Vos données personnelles</a>
							</li>
							<li>
								<a href="">Termes</a>
							</li>

							<li>
								<span class="language">Langues
									<select name="language" class="select" onchange="la(this.value)">
										<option value="#">Anglais</option>
										<option value="#">Français</option>
									</select>
								</span>
							</li>
						</ul>
					</nav>

					<span class="footer-logo">&copy; 2022 crewevent</span>
				</div>
				<!-- Footer container end -->
			</footer>

		</section>
	</span>
	<!-- Root -->

	<!-- Select Link -->
	<script type="text/javascript">
		function la(src) {
window.location = src;
}
	</script>


{% endblock %}

