{# <!-- 
Page d'édition du profil
route: /profile/edit
route_name: app_edit_profile
--> #}

{% extends 'pages_base.html.twig' %}

{% block title %}
  Edition du profil
{% endblock %}

{% block body %}
  {% if app.user %}
  <div class="my-5">
      <h3>Modifier le Profil</h3>
      <hr/>
    </div>
    <!-- début du formulaire-->
   {{ form_start(form) }}
   <div class="container">
		<div class="main-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
      <!-- image profile-->
								<img src="{{app.user.photoProfile ? vich_uploader_asset(app.user) : asset('images/pas_de_photo.png')}}" alt="photo" class="rounded-circle" width="110">
								<div class="mt-3">
               
									<h4>{{app.user.prenom}}</h4> <!-- affichage du prenom sur le profil-->
                  
								    <p class="m-b-10">@ {{app.user.username}}</p><!-- affichage du nom sur le profile -->
                     <!-- btn qui permet de modifier le mdp-->
									  
								</div>
							</div>

						</div>
					</div>
				</div>
         <!--début de la modification du formulaire-->
				<div class="col-lg-8">
					<div class="card">
						<div class="card-body">
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Nom</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{{ form_widget(form.nom, { attr: { class: 'form-control', placeholder: 'Nom' } }) }}
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Prenom</h6>
								</div>
                 <!--Modification du prenom-->
								<div class="col-sm-9 text-secondary">
								{{ form_widget(form.prenom, { attr: { class: 'form-control', placeholder: 'Prénom' } }) }}
								</div>
							</div>
              <div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Email</h6>
								</div>
                <!--Modification du d'email form-->
								<div class="col-sm-9 text-secondary">
								 {{ form_widget(form.email, { attr: { class: 'form-control', placeholder: 'email' } }) }}
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Telephone</h6>
								</div>
                <!--Modification du Telephone form-->
								<div class="col-sm-9 text-secondary">
									 {{ form_widget(form.Telephone, { attr: { class: 'form-control', placeholder: 'Telephone' } }) }}
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Identifiant</h6>
								</div>
                <!--Modification de l'identifiant sur le form-->
								<div class="col-sm-9 text-secondary">
									{{ form_widget(form.username, { attr: { class: 'form-control', placeholder: 'identifiant' } }) }}
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Pays</h6>
								</div>
                <!--Modification du pay sur le form-->
								<div class="col-sm-9 text-secondary">
									{{ form_widget(form.country, { attr: { class: 'form-control', placeholder: 'Pay' } }) }}
								</div>
							</div>
              <div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Ville</h6>
								</div>
                <!--Modification de la ville sur le form-->
								<div class="col-sm-9 text-secondary">
									{{ form_widget(form.city, { attr: { class: 'form-control', placeholder: 'ville' } }) }}
								</div>
							</div>
              <div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Sexe</h6>
								</div>
                     <!--Modification du sexe sur le form-->
								<div class="col-sm-9 text-secondary">
									 {{ form_widget(form.gender, { attr: { class: 'form-control', placeholder: 'sexe' } }) }}
								</div>
							</div>
              <div class="row">
						<div class="col-sm-12">
							<!--<div class="card"> -->
								<div class="card-body"> 
                     <!--ajout de la description sur form-->
									<h5 class="d-flex align-items-center mb-3">Description</h5>
                    <label class="form-label"></label>
                    {{ form_widget(form.description, { attr: { class: 'form-control', placeholder: 'Votre description' } }) }} <br>
                  </div>
              
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-9 text-secondary  ">
									<p style="line-height: 80px; text-align: right;"><button type="submit" class="btn btn-primary px-4">Enregistré</button>
                  <!--<input type="submit" class="btn btn-primary px-4" value="Enregistré" > -->
								</div>
							</div>
						</div>
					</div>
            {{ form_end(form) }}
					  <!-- début du formulaire-->

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  {% else %}
    <a href="{{ path('app_login') }}">Connecter vous</a>
    <br />
    <a href="{{ path('app_register') }}">Inscrivez vous</a>
  {% endif %}
{% endblock %}
