<!-- 
Page d'édition du profil
route: /profile/edit
route_name: app_edit_profile
-->


{% extends 'pages_base.html.twig' %}

{% block title %}Edition du profil
{% endblock %}

{% block body %}
	{% if app.user %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>
        
        <div class="container mb-5">
            <div class="row">
                <div
                    class="col-12">
                    <!-- Page title -->
                    <div class="my-5">
                        <h3>Mon profil</h3>
                        <hr>
                    </div>

                                                              
                    <!-- Form START -->
                        {{form_start(form)}} 
                            <div
                                class="row mb-5 gx-5">
                                <!-- Contact detail -->
                                <div class="col-xxl-8 mb-5 mb-xxl-0">
                                    <div class="bg-secondary-soft px-4 py-5 rounded">
                                        <div class="row g-3">
                                            <h4 class="mb-4 mt-0">Détail de contact</h4>

                                            <!-- Prenom -->
                                            <div class="col-md-6">
                                                <label class="form-label"> Prenom*</label>
                                                {{ form_widget(form.prenom, { 'attr': {'class': "form-control",
                                                    'placeholder': "prenom"} }) }}
                                            </div>
                                            <!-- Nom -->
                                            <div class="col-md-6">
                                                <label class="form-label">Nom *</label>
                                                {{ form_widget(form.nom, { 'attr': {'class': "form-control",
                                                    'placeholder': "nom"} }) }}
                                            </div>
                                            <!-- email -->
                                            <div class="col-md-6">
                                                <label class="form-label">Email *</label>
                                                {{ form_widget(form.email, { 'attr': {'class': "form-control",
                                                    'placeholder': "email"} }) }}
                                            </div>
                                            <!-- Identifiant -->
                                            <div class="col-md-6">
                                                <label class="form-label">Identifiant *</label>
                                                {{ form_widget(form.username, { 'attr': {'class': "form-control",
                                                    'placeholder': "identifiant"} }) }}
                                            </div>
                                            <!-- Pays -->
                                            <div class="col-md-6">
                                                <label for="inputEmail4" class="form-label"  >Pays</label>
                                                {{ form_widget(form.country, { 'attr': {'class': "form-control",
                                                    'placeholder': "country"} }) }}
                                            </div>

                                            <!-- Ville -->
                                            <div class="col-md-6">
                                                <label for="inputEmail4" class="form-label"  >Ville</label>
                                                {{ form_widget(form.city, { 'attr': {'class': "form-control",
                                                    'placeholder': "ville"} }) }}
                                            </div>
                                            <!-- description -->
                                            <div class="col-md-6">
                                                <label class="form-label">Description</label>
                                                {{ form_widget(form.description, { 'attr': {'class': "form-control",
                                                    'placeholder': "description"} }) }}
                                            </div>

                                            <!-- sexe -->
                                            <div class="col-md-6">
                                                <label class="form-label">Sexe</label>
                                                {{ form_widget(form.gender, { 'attr': {'class': "form-control",
                                                    'placeholder': "sexe"} }) }}
                                            </div>
                                            {# <div class="col-md-6">
                                                <label class="form-label">Date d'anniversaire</label>
                                                {{ form_widget(form.birthday, { 'attr': {'class': "form-control",
                                                    } }) }}
                                            </div> #}


                                            <!-- langues -->
                                            <div class="col-md-6">
                                                <label class="form-label">Langue</label>
                                                {{ form_widget(form.language, { 'attr': {'class': "form-control",
                                                    'placeholder': "langue"} }) }}
                                            </div>
                                        </div>
                                        <!-- Row END -->
                                    </div>
                                </div>
                                <!-- end Upload profile details -->
                                <!--Upload profile photo -->
                                <div class="col-xxl-8 mb-5 mb-xxl-0">
                                    <div class="bg-secondary-soft px-4 py-5 rounded">
                                        <div class="row g-3">
                                            <h4 class="mb-4 mt-0">Photo de profil</h4>

                                            {# {{form_row(form.photoProfileFile)}} #}
                                            {# <img src="{{app.user.photoProfile ? vich_uploader_asset(app.user) : asset('images/pas_de_photo.png')}}" alt=""> #}

                                                {{form_row(form.photoProfileFile)}}

                                        </div>
                                        <!-- Row END -->
                                    </div>
                                </div>
                               
                            </div>
                            <!-- Row END -->
                            <div>
                               
                            </div>
                            <!-- Row END -->
                            <!-- button -->
                            <div class="gap-3 d-md-flex justify-content-md-end text-center">
                                {# <button type="button" class="btn btn-danger btn-lg">Supprimer </button> #}
                                <button type="submit" class="btn btn-primary btn-lg">mis a jour</button>
                            </div>
                        {{form_end(form)}}
                    <!-- Form END -->
                </div>
            </div>
        </div>

	{% else %}
		<a href="{{path("app_login")}}">Connecter vous</a>
		<br>
		<a href="{{path("app_register")}}">Inscrivez vous</a>

	{% endif %}

{% endblock %}
