{% extends 'pages_base.html.twig' %}

{% block title %}page d'acceuil
{% endblock %}

{% block body %}
	{% if app.user %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>
        
        <div class="container mb-5">
            <div class="row">
                <div
                    class="col-12">
                    <!-- Page title -->
                    <div class="my-5">
                        <h3>Mon profil</h3>
                        <hr>
                    </div>

                                                              
                    <!-- Form START -->
                        {{form_start(form)}} 
                            <div
                                class="row mb-5 gx-5">
                                <!-- Contact detail -->
                                <div class="col-xxl-8 mb-5 mb-xxl-0">
                                    <div class="bg-secondary-soft px-4 py-5 rounded">
                                        <div class="row g-3">
                                            <h4 class="mb-4 mt-0">Détail de contact</h4>

                                            <!-- First Name -->
                                            <div class="col-md-6">
                                                <label class="form-label"> Prenom*</label>
                                                {{ form_widget(form.prenom, { 'attr': {'class': "form-control",
                                                    'placeholder': "prenom"} }) }}
                                            </div>
                                            <!-- Last name -->
                                            <div class="col-md-6">
                                                <label class="form-label">Nom *</label>
                                                {{ form_widget(form.nom, { 'attr': {'class': "form-control",
                                                    'placeholder': "nom"} }) }}
                                            </div>
                                            <!-- email -->
                                            <div class="col-md-6">
                                                <label class="form-label">Email *</label>
                                                {{ form_widget(form.email, { 'attr': {'class': "form-control",
                                                    'placeholder': "email"} }) }}
                                            </div>
                                            <!-- Mobile number -->
                                            <div class="col-md-6">
                                                <label class="form-label">Identifiant *</label>
                                                {{ form_widget(form.username, { 'attr': {'class': "form-control",
                                                    'placeholder': "identifiant"} }) }}
                                            </div>
                                            <!-- Email -->
                                            <div class="col-md-6">
                                                <label for="inputEmail4" class="form-label"  >Pays</label>
                                                {{ form_widget(form.country, { 'attr': {'class': "form-control",
                                                    'placeholder': "country"} }) }}
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputEmail4" class="form-label"  >Ville</label>
                                                {{ form_widget(form.city, { 'attr': {'class': "form-control",
                                                    'placeholder': "ville"} }) }}
                                            </div>
                                            <!-- Skype -->
                                            <div class="col-md-6">
                                                <label class="form-label">Description</label>
                                                {{ form_widget(form.description, { 'attr': {'class': "form-control",
                                                    'placeholder': "description"} }) }}
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Sexe</label>
                                                {{ form_widget(form.gender, { 'attr': {'class': "form-control",
                                                    'placeholder': "sexe"} }) }}
                                            </div>
                                            {# <div class="col-md-6">
                                                <label class="form-label">Date d'anniversaire</label>
                                                {{ form_widget(form.birthday, { 'attr': {'class': "form-control",
                                                    } }) }}
                                            </div> #}
                                            <div class="col-md-6">
                                                <label class="form-label">Langue</label>
                                                {{ form_widget(form.language, { 'attr': {'class': "form-control",
                                                    'placeholder': "langue"} }) }}
                                            </div>
                                        </div>
                                        <!-- Row END -->
                                    </div>
                                </div>
                                <!-- Upload profile -->
                                <div class="col-xxl-4">
                                    <div class="bg-secondary-soft px-4 py-5 rounded">
                                        <div class="row g-3">
                                            <h4 class="mb-4 mt-0">Photo de profil</h4>
                                            <div
                                                class="text-center">
                                                <!-- Image upload -->
                                                <div class="square position-relative display-2 mb-3">
                                                    <i class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
                                                </div>
                                                <!-- Button -->
                                                <input type="file" id="customFile" name="file" hidden="">
                                                <label class="btn btn-success-soft btn-block" for="customFile">charger</label>
                                                <button type="button" class="btn btn-danger-soft">Supprimer</button>
                                                <!-- Content -->
                                                <p class="text-muted mt-3 mb-0">
                                                    <span class="me-1">Note:</span>Minimum size 300px x 300px</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Row END -->
                            <div>
                                <!-- change password -->
                                <div class="col-xxl-6 ">
                                    <div class="bg-secondary-soft px-4 py-5 rounded">
                                        <div class="row g-3">
                                            <h4 class="my-4">Changer votre mot de passe</h4>
                                            <!-- Old password -->
                                            <div class="col-md-6">
                                                <label for="exampleInputPassword1" class="form-label">Encien mot de passe *</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="encien mot de passe">
                                            </div>
                                            <!-- New password -->
                                            <div class="col-md-6">
                                                <label for="exampleInputPassword2" class="form-label">Nouveau mot de passe *</label>
                                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="nouveau mot de passe">
                                            </div>
                                            <!-- Confirm password -->
                                            <div class="col-md-12">
                                                <label for="exampleInputPassword3" class="form-label">confirmer le nouveau mot de passe *</label>
                                                <input type="password" class="form-control" id="exampleInputPassword3" placeholder="confirmer le mot de passe">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Row END -->
                            <!-- button -->
                            <div class="gap-3 d-md-flex justify-content-md-end text-center">
                                <button type="button" class="btn btn-danger btn-lg">Supprimer </button>
                                <button type="submit" class="btn btn-primary btn-lg">mis a jour</button>
                            </div>
                        {{form_end(form)}}
                    <!-- Form END -->
                </div>
            </div>
        </div>

	{% else %}
		<a href="{{path("app_login")}}">Connecter vous</a>
		<br>
		<a href="{{path("app_register")}}">Inscrivez vous</a>

	{% endif %}

{% endblock %}
