{# <!-- 
On regarde ici le profil d'un utilisateur 
route: /show_profile 
route_name: app_show_profile
--> #}

{% extends 'pages_base.html.twig' %}

{% block title %}Page de profil de 
{{user.prenom}}
{% endblock %}

{% block body %}
	{% if app.user %}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div
                        id="content" class="content content-full-width">
                        <!-- begin profile -->
                        <div class="profile">
                            <div
                                class="profile-header">
                                <!-- BEGIN profile-header-cover -->
                                <div class="profile-header-cover"></div>
                                <!-- END profile-header-cover -->
                                <!-- BEGIN profile-header-content -->
                                <div
                                    class="profile-header-content">
                                    <!-- BEGIN profile-header-img -->
                                    <div class="profile-header-img">
                                    <!-- uploade le photo de profil  -->
                              
                                         <img src="{{user.photoProfile ? vich_uploader_asset(user) : asset('images/pas_de_photo.png')}}" alt="">

                                    </div>
                                    <!-- END profile-header-img -->
                                    <!-- BEGIN profile-header-info -->
                                    <div class="profile-header-info">
                                    <!-- affiche le prenom et l'identifiant -->
                                        <h4 class="m-t-10 m-b-5">{{user.prenom}}</h4>
                                        <p class="m-b-10">@ {{user.username}}</p>
                                        {% if not isContact %}
                                            <a href="{{path('add_contact',{username: user.username})}}" class="btn btn-sm btn-info mb-2">Ajouter à la liste de contact</a>
                                        {% else %}
                                            <a href="{{path('remove_contact',{username: user.username})}}" class="btn btn-sm btn-info mb-2">Retirer de la liste des contacts</a>
                                        {% endif %}
                                        <a href="#" class="btn btn-sm btn-info mb-2">Envoyer message</a>

                                    </div>
                                    <!-- END profile-header-info -->
                                </div>
                                <!-- END profile-header-content -->
                                <!-- BEGIN profile-header-tab -->
                                <ul class="profile-header-tab nav nav-tabs">
                                 <li class="nav-item">
                                        <a href="{{path('app_index')}}" class="nav-link_">Acceuil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#"  class="nav-link_">A propos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#"  class="nav-link_">Photos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#"  class="nav-link_">Evènements en commun</a>
                                    </li>

                                </ul>
                                <!-- END profile-header-tab -->
                            </div>
                        </div>
                        <!-- end profile --> 
                        </div>
                        <!-- end profile-content -->
                    </div>
                </div>
            </div>
        </div>

	{% else %}
		<a href="{{path("app_login")}}">Connecter vous</a>
		<br>
		<a href="{{path("app_register")}}">Inscrivez vous</a>

	{% endif %}

{% endblock %}
