{% extends 'default_base.html.twig' %}

{# Page de l'événement #}

{% block title %}
  Page de l'événement {{ event.name }}
{% endblock %}

{% block body %}
  {# On affiche la barre de navigation #}
  {{ include('partials/_navbar.html.twig') }}

  {# On affiche juste la side bar et la liste des participants #}

  <div class="d-flex p-2 justify-content-between">{{ include('partials/_sidebar.html.twig') }}
    {{ include('partials/_partie_pub.html.twig') }}
    {{ include('partials/_partie_sub.html.twig') }}</div>
{% endblock %}
