<turbo-stream action="append" target="info-{{event.id}}">
    <template>
        <div class="my-3 " id="card-{{info.title}}">
            <div class="card">
                <div class="card-header">
                    <h4>{{ info.title }}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ info.content }}</p>

                </div>
                <div class="card-footer">
                    <a type="button" class="btn btn-primary" href="{{ path('app_event_update_info',{name : event.name, info_title : info.title}) }}" >éditer</a>
                    <a type="button" class="btn btn-danger"href="{{ path('event_info_delete',{name : event.name, info_title : info.title}) }}">supprimer</a>
                </div>
            </div>
        </div>
    </template>
</turbo-stream>
